[Unit]
Description=Python Intrusion Detection System
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/nafnlaus/Codes/pspspython/ids/base-ids.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target

