[Unit]
Description=Python Intrusion Detection System
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/%u/base-ids/base-ids.py 
Restart=always
User=u%

[Install]
WantedBy=multi-user.target

